@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
    margin:0; padding: 0; box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    font-weight: 700;
}
.wrap {
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    align-items: center;
}
.nav li {
    margin-left: 30px;
}
.nav li a {
    text-decoration: none;
    color: #202020;
}
.nav_btn {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #5528FF;
    border-radius: 6px;
    padding: 6px 15px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #5528FF;
    border-radius: 9px;
    padding: 12px 40px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 70px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_img {
    display: block;
    height: 58px;
    width: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}
.logo_text {
    font-size: 24px;
    color: #202020;
}

.page {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.page-top {
    border-top: 0.5px solid #C2C2C2;
}
.page h2 {
    position: absolute;
    top: -14px;
    font-size: 14px;
    font-weight: 300;
    color: #C2C2C2;
    background-color: #fff;
    padding: 5px 15px;
    padding-right: 30px;
}

.title_main {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 55px;
    color: #202020;
    font-weight: 700;
}
.text_main {
    padding-bottom: 50px;
    color: #4F4F4F;
    max-width: 741px;
    font-weight: 400;
    font-size: 32px;
    line-height: 52px;
}

.services {
    display: grid;
    grid-template: 50% 50% /  50% 50%;
    margin-bottom: 20px;
}
.services h3 {
    font-size: 28px;
    font-weight: 400;
    color: #202020;
    padding-bottom: 10px;
}
.services p {
    max-width: 310px;
    font-size: 14px;
    font-weight: 400;
    color: #B2B2B2;
    line-height: 1.5;
    margin-bottom: 40px;
}
.services_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
.services_img {
    flex-basis: 160px;
    text-align: center;
    height: 100px;
}
.services_text {
    flex-basis: calc(100%-160px);
}

.clients {
    display: grid;
    grid-template: 100px 100px / repeat(4, 25%);
    text-align: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

.team {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 33%);
    margin-top: 30px;
}
.team_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team_item img {
    padding: 25px 40px;
}
.team_item h3 {
    font-weight: 700;
    font-size: 28px;
    padding-bottom: 10px;
    color: #202020;
}
.team_item p {
    font-weight: 400;
    color: #B2B2B2;
    font-size: 14px;
}

.footer {
    background-color: #F7F7F7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wrap2 {
    width: 100%;
    max-width: 1185px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}